 <!-- footer  -->
 <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Visit Our Store</h3>
                <p>Be assured of exciting shopping Experience </p>
            </div>
            <div class="footer-col-2">
                <a href="{% url 'index' %}"><img src="{{setting.logo.url}}"></a>
                <p>We have top quality products at best prices</p>
            </div>
            <div class="footer-col-3">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'order:shopcart' %}">Your Cart</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Whatsapp</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2021 &copy; TayoPro Stores</p>
    </div>
</div>
<!-- footer done  -->